@font-face {
  font-family: "iconfont"; /* Project id 4144618 */
  src: url('iconfont.woff2?t=1688030799752') format('woff2'),
       url('iconfont.woff?t=1688030799752') format('woff'),
       url('iconfont.ttf?t=1688030799752') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changyongicon-:before {
  content: "\e611";
}

.icon-changyongicon-1:before {
  content: "\e612";
}

