*{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
body{
	font-family: Arial,Verdana,"microsoft yahei","PingFang SC","simsun";
}
input,button,textarea,select,progress{
	outline: none;
}
textarea{
	resize: none;
}
button,input[type=button],input[type=submit],input[type=reset]{
	cursor: pointer;
}