@font-face {
  font-family: "iconfont"; /* Project id 3932153 */
  src: url('iconfont.woff2?t=1679412831208') format('woff2'),
       url('iconfont.woff?t=1679412831208') format('woff'),
       url('iconfont.ttf?t=1679412831208') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhushi:before {
  content: "\e634";
}

.icon-mianshi:before {
  content: "\e62d";
}

.icon-cake:before {
  content: "\e666";
}

.icon--tanglei:before {
  content: "\e60b";
}

.icon-xiaochao:before {
  content: "\e68a";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-diannao:before {
  content: "\e61e";
}

.icon-huoyanjiare-copy2:before {
  content: "\e8be";
}

.icon-icon:before {
  content: "\e651";
}

.icon-pinglun-:before {
  content: "\e60c";
}

.icon-fenxiang:before {
  content: "\e612";
}

.icon-iconfontquanzidianji:before {
  content: "\e632";
}

.icon-a-bijibenbiji1:before {
  content: "\e6c1";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-guanbixiao:before {
  content: "\e8bb";
}

.icon-weidenglutouxiang:before {
  content: "\e62b";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-shangjiantou:before {
  content: "\e600";
}

