body{
	background: #fff7b4;
	width: 100%;
	height: 100%;
	
}
.textCon{
    width:300px;
    height:60px;
    margin:100px -50px;
	font-size: 20px;
	text-align: center;
	transform: rotate(-45deg);
}
.all{
	width:300px;
	height: 300px;
	background: #FFC7C7;
	margin:200px auto;
	position: relative;
	transform: rotate(45deg);
}
.all::before,
.all::after{
    content:'';
    width:100%;
    height:100%;
    background:#FFC7C7;
    border-radius: 50%;
}
.all::before{
    position: absolute;
    top:0;
    left:0;
    transform: translateX(-50%);
	z-index: -10;
}
.all::after{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(-50%);
	z-index: -10;
}
@keyframes heart{
    0%{
        transform: scale(0.8) rotate(90deg);
        opacity: 0.8;
    }
    50%{
        transform: scale(1) rotate(90deg);
        opacity: 1;
    }
    100%{
        transform: scale(0.8) rotate(90deg);
        opacity: 0.8;
    }
}
.heart{
    width:80px;
    height:80px;
    background-color:#cc2a5d;
    margin:100px -50px;
    position: relative;
    transform: rotate(90deg);
    animation: heart 2s ease-in infinite;
}
.heart::before,
.heart::after{
    content:'';
    width:100%;
    height:100%;
    background-color:#cc2a5d;
    border-radius: 50%;
}
.heart::before{
    position: absolute;
    top:0;
    left:0;
    transform: translateX(-50%);
}
.heart::after{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(50%);
}
@keyframes hearts{
    0%{
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
    }
    20%{
        opacity: 0.8;
        transform: translateY(-100%)  rotate(0deg);
    }
    100%{
        opacity: 0;
        transform: translateY(-2000%)  rotate(0deg);
    }
}
.hearts{
	width: 100%;
}
.hearts .item{
    position: absolute;
    opacity: 0;
    background-color:#cc2a5d;
    animation: hearts 5s ease-in infinite;
}
.hearts .item::before,
.hearts .item::after{
    content:'';
    width:100%;
    height:100%;
    background-color:#cc2a5d;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
}
.hearts .item::before{
    transform: translateX(-50%);
}
.hearts .item::after{
    transform: translateY(-50%);
}
.ingshow{
	display: flex;
}
.ingshow img{
	width: 200px;
	height: 280px;
	border-radius: 10%;
}
@keyframes firsts{
    0%{
        opacity: 0.2;
    }
    50%{
         opacity: 0.8;
    }
    100%{
         opacity: 1;
    }
}
.first img{
	position: absolute;
	top: 30px;
	right: 100px;
	animation: firsts 3.5s ease-in infinite;
}
@keyframes seconds{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.second img{
	position: absolute;
	bottom: 30px;
	right: 100px;
	animation: seconds 3s ease-in infinite;
}
@keyframes thirds{
    0%{
        opacity: 0.2;
    }
    50%{
         opacity: 0.8;
    }
    100%{
         opacity: 1;
    }
}
.third img{
	position: absolute;
	left: 100px;
	bottom: 30px;
	animation: thirds 2.5s ease-in infinite;
}
@keyframes fouths{
    0%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(10px);
    }
}
.fouth img{
	position: absolute;
	top: 30px;
	left: 100px;
	animation: fouths 3s ease-in infinite;
}